/*.browsehappy {*/
    /*margin: 0.2em 0;*/
    /*background: #ccc;*/
    /*color: #000;*/
    /*padding: 0.2em 0;*/
/*}*/

/* Space out content a bit */
/*body {*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
/*.marketing,*/
/*.footer {*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

/* Custom page header */
/*.header {*/
    /*border-bottom: 1px solid #e5e5e5;*/
/*}*/

/* Make the masthead heading the same height as the navigation */
/*.header h3 {*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*line-height: 40px;*/
    /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer */
/*.footer {*/
    /*padding-top: 19px;*/
    /*color: #777;*/
    /*border-top: 1px solid #e5e5e5;*/
/*}*/

/*.container-narrow > hr {*/
    /*margin: 30px 0;*/
/*}*/

/* Main marketing message and sign up button */
/*.jumbotron {*/
    /*text-align: center;*/
    /*border-bottom: 1px solid #e5e5e5;*/
/*}*/

/*.jumbotron .btn {*/
    /*font-size: 21px;*/
    /*padding: 14px 24px;*/
/*}*/

/* Supporting marketing content */
/*.marketing {*/
    /*margin: 40px 0;*/
/*}*/

/*.marketing p + h4 {*/
    /*margin-top: 28px;*/
/*}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {*/
    /*.container {*/
        /*max-width: 730px;*/
    /*}*/

    /* Remove the padding we set earlier */
    /*.header,*/
    /*.marketing,*/
    /*.footer {*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/

    /* Space out the masthead */
    /*.header {*/
        /*margin-bottom: 30px;*/
    /*}*/

    /* Remove the bottom border on the jumbotron for visual effect */
    /*.jumbotron {*/
        /*border-bottom: 0;*/
    /*}*/
/*}*/

.vspacer {
    margin-top: 20px;
}

.bspacer {
    height: 100px;
}

.notes-label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.notes-label.collapsed:after {
    content: "\e080";
}

.fixed-panel{
    max-height: 200px;
    overflow-y: scroll;
    padding: 20px;
}

/* N.B.: this is a <i>class</i>! */
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: vertical;
    height : 56px;
}

#size-warning{
    position: absolute;
    width: 400px;

    top:100px;
    left : 50%;
    margin-left: -200px;
}

@media (max-width:800px){
    #size-warning{
        visibility: visible;
    }
    #app {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}
@media (min-width:800px){
    #size-warning{
        visibility: hidden;
    }
    #app {
        -webkit-filter: initial;
        -moz-filter: initial;
        -o-filter: initial;
        -ms-filter: initial;
        filter: initial;
    }
}

.viewerjs{
    width:100%;
    height:600px;
}

.tour-backdrop{
    opacity: 0.7;
}

.popover.tour{
    min-width: 300px;
}

.popover.tour .arrow{
    visibility: hidden;
}

nav.navbar{
    z-index: 1200;
}

.alert.alert-warning p,
.alert.alert-info p{
    font-size: larger;
    font-weight: bold;
}
