<div class="col-sm-12 column">
    <div class="well">
        <h4>{{t "assess:phase_comparative.title"}}</h4>
        <p>{{t "assess:phase_comparative.description"}}</p>
        <textarea id="feedback-input" class="form-control" rows="5" placeholder="..."></textarea>
        <button id="submit-feedback-button" type="button" class="btn btn-primary"
                data-sending-text="{{t "assess:common.sending"}}"
        >
            {{t "assess:common.save_button.label"}}
        </button>
    </div>
</div>

