<div class="row">
    <div class="col-md-12">
        <h3>
            {{{title}}}
        </h3>
    </div>
</div>
<div class="row vspacer">
    <div class="col-md-12 column">
        <div class="fixed-panel panel panel-default">
            <p>{{{description}}}</p>
        </div>
    </div>
</div>
