<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="alert alert-info" role="alert">{{{t "assessment:comparisons.compare.description"}}}</div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <textarea class="form-control" rows="4">{{{comparativeFeedback}}}</textarea>
    </div>
</div>
