<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 column">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{{t "assessment:comparison_continuation.title"}}}</h4>
            </div>
            <div class="panel-body">
                        <p>{{{t "assessment:comparison_continuation.description"}}}</p>
                        <p><a class="btn btn-primary continue-button"
                           role="button">{{t "assessment:comparison_continuation.continue_button.label"}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
