<div class="row">
    <div class="col-md-4 col-md-offset-4 column">
        <div class="well well-sm">
            <h4>{{{t "assessment:comparison_continuation.title"}}}</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 column">
        {{{t "assessment:comparison_continuation.description"}}}
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 column">
        <a class="btn btn-primary continue-button" role="button">{{t "assessment:comparison_continuation.continue_button.label"}}</a>
    </div>
</div>
