<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="alert alert-info" role="alert">{{{t "assessment:comparisons.compare.description"}}}</div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <textarea class="form-control" rows="5">{{{comparativeFeedback}}}</textarea>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column text-center">
        <button type="button" class="btn btn-primary save-button">{{t "assessment:comparisons.compare.submitButton.label"}}</button>
    </div>
</div>
