<label for="notes-{{_id}}"
       class="notes-label collapsed"
       data-toggle="collapse" data-target="#notes-{{_id}}">Notities</label>
<textarea id="notes-{{_id}}"
          data-toggle="tooltip" data-placement="top" title="Noteer hier je opmerkingen bij de linkse paper."
          class="form-control collapse" rows="6">{{notes}}</textarea>
