
<div class="row">
    <div class="col-md-12 column">
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"
                 data-toggle="tooltip" data-placement="bottom" title="{{t "assessment:comparisons.progressbar.tooltip"}}"
                 style="width: 33%;">
                <span>{{t "assessment:comparisons.progressbar.label"}}</span>
            </div>
        </div>
    </div>
</div>

<div id="assessment-wizard" class="row">
</div>
<div id="assessment-detail" class="row">
</div>
<div class="row">
    <div id="assessment-representations" class="col-md-12 column"></div>
</div>
