<div class="col-sm-2 column">
    <div id="assessment-details" class="row">

    </div>
</div>

<div class="col-sm-10 column">
    <div class="row">
        <div id="assessment-representations" class="col-md-12 column"></div>
    </div>
    <div class="row">
        <div id="assessment-judgements" class="col-md-12 column"></div>
    </div>
</div>

<!--
<div id="assessment-progress" class="row">
</div>
<div id="assessment-wizard" class="row">
</div>
<div id="assessment-detail" class="row">
</div>
<div class="row">
    <div id="assessment-representations" class="col-md-12 column"></div>
</div>
<div class="row">
    <div id="assessment-judgements" class="col-md-12 column"></div>
</div>
<div class="row bspacer">

</div>
-->
