<div class="row ">
    <div id="assessment-details" class="col-sm-12 col-md-4 col-lg-4 column"></div>
    <div id="assessment-phases" class="col-sm-12 col-md-8 col-lg-8 column"></div>
</div>
<div id="assessment-representations" class="row"></div>
<div id="assessment-judgements" class="row"></div>

<!--
<div id="assessment-progress" class="row">
</div>
<div id="assessment-wizard" class="row">
</div>
<div id="assessment-detail" class="row">
</div>
<div class="row">
    <div id="assessment-representations" class="col-md-12 column"></div>
</div>
<div class="row">
    <div id="assessment-judgements" class="col-md-12 column"></div>
</div>
<div class="row bspacer">

</div>
-->
