<div class="col-md-12 col-lg-6 column">
    <div class="row">
        <div class="col-md-12 column">
            <h2>A</h2>
        </div>
    </div>
    <div class="row">
        <div id="representation-A" class="col-md-12 column">

        </div>
    </div>
</div>
<div class="col-md-12 col-lg-6 column">
    <div class="row">
        <div class="col-md-12 column">
            <h2>B</h2>
        </div>
    </div>
    <div class="row">
        <div id="representation-B" class="col-md-12 column">

        </div>
    </div>
</div>
