<!--
<iframe id="viewer-left"
        src="viewerjs/#../../uploads/architecture.pdf"
        data-toggle="tooltip" data-placement="top"
        title="Gebruik de knoppen om de linkse paper fullscreen te bekijken of te downloaden."
        width='100%' height='400'
        allowfullscreen webkitallowfullscreen></iframe>
<label for="notes-left"
       class="notes-label collapsed"
       data-toggle="collapse" data-target="#notes-left">Notities</label>
<textarea id="notes-left"
          data-toggle="tooltip" data-placement="top" title="Noteer hier je opmerkingen bij de linkse paper."
          class="form-control collapse" rows="6"></textarea>
          -->
