<div id="assessment-wizard-content">
    <div class="alert alert-danger" role="alert">
      <strong>{{t "common:warning.label"}}</strong>
        <p>{{t "assessment:workflow.empty.description"}}</p>
    </div>
</div>
