<div class="row clearfix">
    <div id="app-menu" class="col-md-12 column">
        hell yeah
    </div>
</div>
<div class="row clearfix">
    <div id="app-content" class="col-md-12 column">
    </div>
</div>
