<div class="col-md-12 column representation-detail">
    {{> (getMediaPlayer document.mimeType) }}
</div>
{{#if hasDescription}}
    <div class="col-md-12 column">
        <blockquote>
            {{{document.text}}}
        </blockquote>
    </div>
{{/if}}
