<div class="col-sm-12 col-md-6 column">
    <div class="row">
        <div class="col-sm-12 column">
            <h2 class="representation-order">A <span id="selected-A" class="selected-representation h1 hidden">✔</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 column">
            <span class="representation-title">{{a.document.title}}</span>
        </div>
    </div>
    <div class="row">
        <div id="representation-A" class="col-sm-12 column">

        </div>
    </div>
    <div class="row">
        <div id="note-A" class="col-sm-12 column">

        </div>
    </div>
</div>
<div class="col-sm-12 col-md-6 column">
    <div class="row">
        <div class="col-sm-12 column">
            <h2 class="representation-order">B <span id="selected-B" class="selected-representation h1 hidden">✔</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 column">
            <span class="representation-title">{{b.document.title}}</span>
        </div>
    </div>
    <div class="row">
        <div id="representation-B" class="col-sm-12 column">

        </div>
    </div>
    <div class="row">
        <div id="note-B" class="col-sm-12 column">

        </div>
    </div>
</div>
