<div class="col-md-12 column">
    <div class="representation-detail"></div>
</div>
{{#if hasDescription}}
    <div class="col-md-12 column">
        <blockquote class="representation-description">
            {{{document.text}}}
        </blockquote>
    </div>
{{/if}}
