<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 column">
        <div id="assess-unfinished-comparison" class="panel panel-default">
            <div class="panel-heading">
                <h4>{{{t "assess:comparison_unfinished.title"}}}</h4>
            </div>
            <div class="panel-body">
                        <p>{{{t "assess:comparison_unfinished.description" count=activesNum}}}</p>
                        <p><a class="btn btn-primary continue-button"
                           role="button">{{t "assess:comparison_unfinished.continue_button.label"}}</a></p>
            </div>
        </div>
    </div>
</div>
