<div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{t "uploads:title"}}</h4>
        </div>
    </div>
</div>
<div id="results-assessment-selection" class="col-sm-12 col-lg-10 col-lg-offset-1 column">
    <table class="table table-bordered table-striped" style="width:100%;">
        <thead>
        <tr>
            <td width="20%">{{ t "uploads:overview.assessment"}}</td>
            <td>{{ t "uploads:overview.file"}}</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

