<div class="col-md-12 column">
    <iframe src="pdf-viewer/web/viewer.html?file={{document.href}}"
            class="viewerjs img-responsive"
            data-toggle="tooltip" data-placement="top"
            title="{{t "assessment:comparisons.representations.tooltip"}}"
            allowfullscreen webkitallowfullscreen></iframe>
</div>
{{#if document.text}}
    <div class="col-md-12 column">
        <blockquote>
            {{{document.text}}}
        </blockquote>
    </div>
{{/if}}
