<div class="col-md-12 column">
    <iframe src="viewerjs/#{{document.href}}"
            class="viewerjs img-responsive"
            data-toggle="tooltip" data-placement="top"
            title="{{t "assessment:comparisons.representations.tooltip"}}"
            allowfullscreen webkitallowfullscreen></iframe>
</div>
