<div class="row">
    <div class="col-md-12 column">
        <div class="alert alert-danger" role="alert">
            <h3>{{t "common:notfound.title"}}</h3>
            <p>{{t "common:notfound.description"}}</p>
        </div>
        <div class="text-center">
            <img src="images/404.png" />
        </div>
    </div>
</div>
