<div class="row">
    <div id="app-menu" class="col-md-12 column">
    </div>
</div>
<div id="app-errors" class="row"></div>
<div class="row">
    <div id="app-content" class="col-md-12 column">
    </div>
</div>
