{{#if showing}}
<div id="error-alert" class="alert alert-danger fade in" role="alert">
    <i class="fa fa-exclamation-triangle fa-3x pull-right"></i>
    {{#if code}}<span class="badge alert-warning">{{code}}</span>{{/if}} <h4>{{{title}}}</h4>
    <p>{{{message}}}</p>
</div>
{{/if}}
