<div class="col-md-8 col-md-offset-2 column">
    <div class="alert alert-info" role="alert">
        <i class="fa  fa-info-circle fa-2x pull-right"></i>

        <p>{{{t "errors:auto-recover"}}}</p></div>
</div>
