<div class="popover tour">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>

    <div class="popover-content"></div>
    <div class="popover-navigation">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" data-role="prev">{{t "tutorial:previous.label"}}</button>
            <button class="btn btn-sm btn-primary" data-role="next">{{t "tutorial:next.label"}}</button>
        </div>
        <button class="btn btn-sm btn-danger" data-role="end">{{t "tutorial:end.label"}}</button>
    </div>
</div>
