<div class="row">
    <div class="col-md-8 col-md-offset-2 column">
        <div class="alert alert-info" role="alert">
            <p>{{t "welcome:description"}}</p>
        </div>
        <div class="alert-region"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 column">
        {{t "welcome:body" }}
    </div>
</div>
