<div class="row">
    <div class="col-md-8 col-md-offset-2 column">
        <div class="alert alert-danger" role="alert">
            <p><strong>{{t "common:notfound.title"}}</strong> {{t "common:notfound.description"}}</p>
        </div>
        <div class="text-center">
            <img src="images/404.png" />
        </div>
    </div>
</div>
