<div id="scrolldown">
    <a href="javascript:void(0)" class="btn btn-success btn-fab btn-fab-mini"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<div class="col-md-12 column">
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
            <div class="row panel panel-default">
                <div class="panel-heading">
                    <h4>{{t "results:title"}}</h4>
                </div>
                <div class="panel-body">
                    <div id="results-assessment-selection" class="col-sm-12 col-md-8 col-lg-6 column vcenter"></div>
                    <div id="results-assessment-menu" class="col-sm-12 col-md-4 col-lg-6 column vcenter"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="results-assessment-overview" class="col-sm-12 col-lg-10 col-lg-offset-1 column">
        </div>
    </div>
</div>
<div id="results-page" class="row">
</div>
<!--<div class="col-md-12 column">-->
    <!--<div class="col-sm-12 col-lg-10 col-lg-offset-1 column">-->
    <!--</div>-->
<!--</div>-->
