<div class="col-md-12 column">
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
            <div class="row panel panel-default">
                <div class="panel-heading">
                    <h4>{{t "results:title"}}</h4>
                </div>
                <div class="panel-body">
                    <div id="results-assessment-selection" class="col-sm-12 col-md-12 col-lg-6 column vcenter"></div>
                    <div id="results-assessment-menu" class="col-sm-12 col-md-12 col-lg-6 column vcenter"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
            <div id="results-assessment-overview" class="row">
                <!--<div class="spinner">-->
                <!--<div class="bounce1"></div>-->
                <!--<div class="bounce2"></div>-->
                <!--<div class="bounce3"></div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
            <div id="results-representations-ranking" class="row">
                <!--<div class="spinner">-->
                <!--<div class="bounce1"></div>-->
                <!--<div class="bounce2"></div>-->
                <!--<div class="bounce3"></div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
            <div id="results-representation-details">
                <!--<div class="spinner">-->
                <!--<div class="bounce1"></div>-->
                <!--<div class="bounce2"></div>-->
                <!--<div class="bounce3"></div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
            <div id="results-representation-feedback" class="row">
                <!--<div class="spinner">-->
                <!--<div class="bounce1"></div>-->
                <!--<div class="bounce2"></div>-->
                <!--<div class="bounce3"></div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

</div>
