<div class="col-sm-12 col-lg-10 col-lg-offset-1 column">
    <div id="results-navbar" class="row">
        <div class="col-sm-2 column">
            <label for="page-selection" class="control-label">{{t "results:page_nav.title"}}</label>
        </div>
        <div class="col-sm-10 column">
            <select id="page-selection" class="form-control">
                <option value="ranking" selected="selected">{{t "results:page_nav.ranking"}}</option>
                <option value="assessors">{{t "results:page_nav.assessors"}}</option>
                <option value="representations">{{t "results:page_nav.representations"}}</option>
            </select>
        </div>
    </div>
</div>
<div id="panel-page" class="col-sm-12 col-lg-10 col-lg-offset-1 column">
</div>
