<div class="row">
    <div class="col-sm-12 column">
        <div id="results-representations-ranking" >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 column">
        <div id="results-representation-details">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 column">
        <div id="results-representation-feedback" class="row">
        </div>
    </div>
</div>
